:root {
    --bgPrimary: #32325D;
    --bgSecondary: #4a4aa0;
    --bgSecondaryHover: #303075;
    --bgBorderDrop: 2px solid #3ecf8e;
    --bgDropdown: #222250;
    --devider: #eaebec;
    --overlayImg: #201f1f9a;
    --textMutedLinks: #8789C6;
    --textLink: #267ef1;
    --textMuted: #9e9e9e;
}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../font/medium/poppins-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body { 
    font-family: 'poppinsmedium', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.content-container h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    padding: 0; 
}
*,
*::before,
*::after {
box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
:root {
    scroll-behavior: smooth;
}
}



.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-2rem);
    position: relative;
}
.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}
.page-header a img {
    width: 6rem;
    height: 6rem;
    margin-bottom: .5rem;
}
.page-header h1 {
    font-size: 2.2rem;
}


::selection {
    background-color: #3ecf8e;
}
.tb-container {
    display: none;
}
.container {
    position: relative;
    width: 48rem;
    min-height: 22.7rem;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #00000049;
}
.form-container {
    position: absolute;
    top: 0;
    background-color: white;
    height: 100%;
    transition: 600ms ease-in-out;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
form .devider {
    width: 50%;
    height: 3px;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: #3ecf8e;
}
form input {
    margin-bottom: .8rem;
    width: clamp(15rem, 50vw, 18rem);
    text-align: center;
    padding: .5rem 1rem;
    font-size: .9rem;
    font-weight: 600;
    border: 2px solid black;
    border-radius: .5rem;
    outline: none;
}
form input[type="password"] {
    font-size: 1rem;
}
form button, .overlay-panel button {
    font-size: .7rem;
    background-color: var(--bgSecondary);
    color: white;
    padding: .5rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 50ms;
    border-radius: 1rem;
}
form button:active {
    transform: scale(.96);
}
form button:hover {
    background-color: var(--bgSecondaryHover);
}
.alternate-text {
    background-color: white;
    padding: 0 .5rem;
    font-size: .8rem;
    margin: 1rem 0;
    position: relative;
}
.alternate-text::before {
    content: '';
    position: absolute;
    left: -12%;
    top: 50%;
    width: 125%;
    height: 3px;
    background-color: #3ecf8e;
    border-radius: 1rem;
    z-index: -1;
}
.alternate-icons {
    margin: 0 auto;
    display: flex;
}
.alternate-icons a {
    margin: 0 .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--devider);
}
.alternate-icons a img{
    width: 2rem;
    height: 100%;
    line-height: 0;
    display: block;
}
.log-container {
    z-index: 2;
    width: 50%;
    left: 0;
    opacity: 1;
    transform: translateX(0);
}
.reg-container {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}


.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 600ms ease-in-out;
    z-index: 10;
}
.overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transition: transform 300ms ease-in-out;
    transform: translateX(0);
    background-color: var(--bgSecondary) ;
    background: linear-gradient(to right, #010114, #4a4aa0);
    color: white;
}
.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 2rem;
    transition: transform 300ms ease-in-out;
    transform: translateX(0);
}
.overlay-panel p {
    font-size: .8rem;
}
.overlay .overlay-panel .ghost {
    background-color: var(--bgPrimary);
    border: 2px solid #3ecf8e;
}
.right-panel {
    right: 0;
    transform: translateX(0);
}
.left-panel {
    transform: translate(-20%);
}



/* Animation */
    
@media screen and (min-width: 769px) {
    .container.right-panel-active .log-container,
    .reg-container:target ~ div.log-container {
        transform: translateX(100%);
    }
    .container.right-panel-active .overlay-container,
    .reg-container:target + div.overlay-container {
        transform: translateX(-100%);
    }
    .container.right-panel-active .reg-container,
    .reg-container:target {
        transform: translate(100%);
        z-index: 3;
        opacity: 1;
    }
    .container.right-panel-active .overlay,
    .reg-container:target + div.overlay-container .overlay{
        transform: translateX(50%);
    }
    .container.right-panel-active .left-panel,
    .reg-container:target + div.overlay-container .overlay .left-panel {
        transform: translateX(0);
    }
    .container.right-panel .right-panel,
    .reg-container:target + div.overlay-container .overlay .right-panel {
        transform: translateX(20%);
    }
}



/* Responsive Breakpoints */
@media screen and (max-width: 768px) {
    .overlay-container {
        display: none;
    }
    .container {
        width: clamp(19rem, 85vw, 36rem);
        min-height: none;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 0 1rem #00000049;
    }
    .container .devider {
        width: 12rem;
    }
    .form-container {
        padding: 2rem 0;
        width: 100%;
        transition: transform 600ms ease;
    }
    .form-container form input {
        font-size: .8rem;
    }
    .log-container {
        position: relative;
        z-index: 2;
        transform: translateY(0);
    }
    .reg-container {
        position: absolute;
        transform: translateY(100%);
        opacity: 1;
        z-index: 3;
    }
    .alternate-text {
        font-size: .7rem;
    }
    .alternate-icons a img {
        width: 1.4rem;
    }

    /* Toggle Btn */
        .tb-container {
            display: block;
            position: absolute;
            bottom: 0rem;
            right: .8rem;
            z-index: 10;
        }
        .tb-group {
            position: relative;
            width: 65px;
            height: 38px;
            display: flex;
        }
        .tb-log-container {
            opacity: 0;
            visibility: hidden;
            z-index: 5;
        }
        .tb-reg-container {
            z-index: 8;
        }
        .tb-group section {
            position: absolute;
        }
        .tb-group section a {
            text-decoration: none;
            margin-left: .5rem;
            padding: .4rem .8rem;
            border-radius: .3rem;
            background-color: var(--bgSecondary);
            color: white;
            cursor: pointer;
        }
        .tb-info {
            background-color: var(--bgSecondary);
            padding: .3rem .4rem;
            border-radius: .2rem;
            color: white;
            font-style: italic;
            cursor: default;
            position: relative;
        }
        .tb-info::before {
            content: 'Belum punya akun? Registrasi sekarang!';
            position: absolute;
            background-color: inherit;
            top: -.5rem;
            font-size: .8rem;
            padding: .4rem;
            border-radius: .2rem;
            left: -13.4rem;
            width: 25ch;
            text-align: center;
            transition: 300ms;
            opacity: 0;
            visibility: hidden;
            transform: translateX(.2rem);
        }
        .log-info::before {
            content: 'Sudah punya akun? Login sekarang!';
        }
        .tb-info:hover::before {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        .tb-info > span {
            pointer-events: none;
        }

    /* Animation */
    .container.reg-form-active .reg-container,
    .reg-container:target {
        z-index: 2;
        opacity: 1;
        transform: translateY(0);
    }
    .container.reg-form-active .log-container,
    .reg-container:target ~ div.log-container {
        transform: translateY(-10rem);
    }
    .container.reg-form-active .tb-log-container,
    .reg-container:target ~ div.log-container ~ .tb-container .tb-group .tb-log-container {
        opacity: 1;
        visibility: visible;
        z-index: 8;
    }
}