/* Css Reset */
:root {
		--bgPrimary: #32325D;
		--bgSecondary: #4a4aa0;
		--bgSecondaryHover: #303075;
		--bgBorderDrop: 2px solid #3ecf8e;
		--bgDropdown: #222250;
		--devider: #eaebec;
		--overlayImg: #201f1f9a;
		--textMutedLinks: #8789C6;
		--textLink: #267ef1;
		--textMuted: #9e9e9e;
}
@font-face {
		font-family: 'poppinsmedium';
		src: url('../font/medium/poppins-medium-webfont.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}
html, body {
	scroll-behavior: smooth;
}
body { 
		font-family: 'poppinsmedium', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		overflow-x: hidden;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
body::-webkit-scrollbar {
	width: .35rem;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--bgPrimary);
	height: 4.15rem;
}
h1, h2, h3, h4, h5, h6 { 
		margin: 0; 
		padding: 0; 
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}
@media (min-width: 320px) {
	.container {
		max-width: 100%;
		padding: 0 1.3rem;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 1100px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container, .container-grid{
		max-width: 1320px;
	}
}
.container, .container-grid {
	width: 100%;
	margin: 0 auto;
}



/* Scroll To Top Button */
.stp-btn {
	position: fixed;
	bottom: 4rem;
	right: 1.5rem;
	width: 50px;
	height: 50px;
	background: linear-gradient(120deg, #bdf5dc, white) ;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--bgBorderDrop);
	color: #222250;
	cursor: pointer;
	z-index: 99;
	transition: 500ms;
	opacity: 0;
	visibility: hidden;
}
.stp-btn:hover {
	transform: rotate(360deg);
}
.stp-btn.active {
	opacity: 1;
	visibility: visible;
	bottom: 2rem;
}



/* Navbar Costom */
.navbar {
	width: 100%;
	padding: 1rem 0rem;
	background-color: var(--bgPrimary);
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 3;
}
.navbar .container {
	display: flex;
}
.navbar .container .navbar-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	color: white;
	white-space: nowrap;
}
.navbar .container .navbar-brand img {
	margin-right: .5rem;
}
.navbar .container a {
	text-decoration: none;
}
.navbar .container .navbar-collapse {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.navbar .container .navbar-collapse .navbar-nav {
	display: flex;
	list-style: none;
}
.navbar-collapse .navbar-nav .nav-item {
	margin-right: 1rem;
	font-size: .9rem;
}
.navbar-nav .nav-item .nav-link:hover {
	color: white;
}
.nav-item .nav-link {
	padding: .5rem;
	color: var(--textMutedLinks);
}
	/* Navbar Dropdown Items */
	.nav-item.costom {
		position: relative;
	}
	.navbar-itm-dropdown::before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: #3ecf8e00;
		border-bottom-color: #3ecf8e;
		border-width: 12px;
		margin-left: -12px;
	}
	.navbar-nav:not(.login-reg) .nav-item > .nav-link {
		position: relative;
		font-size: .9rem;
	}
	.navbar-nav:not(.login-reg) .nav-item > .nav-link:hover::before {
		width: 100%;
	}
	.navbar-nav:not(.login-reg) .nav-item > .nav-link::before {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 2px;
		transition: 300ms;
		border: 1rem;
		background-color: #3ecf8e;
	}
	.nav-item.costom .nav-link:hover ~ .navbar-itm-dropdown {
		visibility: visible;
		opacity: 1;
		transition: 500ms;
	}
	.navbar-itm-dropdown:hover {
		visibility: visible;
		opacity: 1;
	}
	.navbar-itm-dropdown {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		background-color: var(--bgDropdown);
		border-top: var(--bgBorderDrop);
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0ms 200ms;
		width: 200px;
		top: 4.5rem;
		padding: .5rem;
		left: -50%;
		border-radius: .5rem;
	}
	.nid-itm {
		width: 100%;
		height: 3rem;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 2rem;
		font-size: .9rem;
		text-decoration: none;
		color: var(--textMutedLinks);
		transition: 300ms;
		position: relative;
		border-radius: .5rem;
	}
	.nid-itm::after {
		content: '▸';
		position: absolute;
		right: 1rem;
		opacity: 0;
		transition: 300ms;
	}
	.nid-itm:hover {
		color: white;
		background-color: var(--bgSecondaryHover);
	}
	.nid-itm:hover::after {
		opacity: 1;
	}
	.nav-item.costom .nav-link {
		cursor: pointer;
	}
	.nav-item.costom .nav-link:hover .dd-icon {
		color: white;
	}
	.dd-icon {
		color: var(--textMutedLinks);
		font-size: 14px;
		margin-left: .3rem;
	}
	/* Navbar User Valid */
	.nav-item.user-valid {
		position: relative;
	}
	.nav-item.user-valid .user-valid-menu::before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: #3ecf8e00;
		border-bottom-color: #1e1e47;
		border-width: 12px;
		margin-left: -12px;
	}
	.nav-item.user-valid .user-valid-info {
		border: var(--bgBorderDrop);
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 160px;
		max-width: 220px;
		padding: 1rem 1.5rem;
		border-radius: 1rem;
		background: linear-gradient(to right, white, #56c995 );
		text-shadow: none;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		cursor: pointer;
	}
	.user-valid-info > span {
		font-weight: bold;
		font-size: .8rem;
		color: white;
		line-height: 0;
	}
	.user-valid-info > span::after {
		content: '▿';
	}
	.nav-item.user-valid .user-valid-info:hover ~ .user-valid-menu, .user-valid-menu:hover {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		transition: 300ms;
	}
	.user-valid-menu {
		position: absolute;
		background: linear-gradient(120deg, #10101f, #373791);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3rem;
		border-radius: .3rem;
		transition: 0ms 300ms;
		transform: translateY(-1rem);
		opacity: 0;
		visibility: hidden;
	}
	.user-valid-menu > a {
		width: 100%;
		display: flex;
		justify-content: left;
		padding: 1rem 0 1rem 2rem;
		transition: 300ms;
		color: white;
		background-color: transparent;
	}
	.user-valid-menu a > img, .user-valid-menu form button > img {
		margin-right: .5rem;
	}
	.user-valid-menu > a:hover, .user-valid-menu form button:hover {
		background-color: #10103d54;
		border-radius: .3rem;
	}
	.user-valid-menu > form {
		width: 100%;
	}
	.user-valid-menu  form button {
		width: 100%;
		padding: 1rem 0 1rem 2rem;
		border: none;
		background-color: transparent;
		outline: none;
		color: white;
		cursor: pointer;
		transition: 300ms;
		display: flex;
		align-items: center;
	}
	/* Navbar Login Reg Items Button */
	.login-reg {
		padding-left: 0;
	}
	.login-reg .nav-item:first-child  {
		margin-right: 1rem;
	}
	.login-reg .nav-item .nav-link {
		border: var(--bgBorderDrop);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 120px;
		height: 40px;
		font-size: .8rem;
		transition: 300ms;
		line-height: 0;
		border-radius: .25rem;
	}
	.login-reg .nav-item .nav-link:hover {
		background-color: var(--bgDropdown);
	}
	/* Navbar Button Toggle */
	.navbar-btn-toggle {
		display: none;
	}
	@media screen and (max-width: 991px) {
		.navbar .container {
			justify-content: space-between;
			align-items: center;
		}
		.navbar .container .navbar-collapse {
			position: absolute;
			flex-direction: column;
			justify-content: space-evenly;
			width: auto;
			top: 80%;
			right: 1.3rem;
			margin-top: 1rem;
			background-color: var(--bgDropdown);
			border-radius: .5rem;
			opacity: 0;
			visibility: hidden;
			transition: 300ms;
		}
		.navbar .container .navbar-collapse.navbar-animate {
			top: 100%;
			opacity: 1;
			visibility: visible;
		}
		.navbar .container .navbar-collapse .navbar-nav:not(.login-reg) {
			flex-direction: column;
			margin: 0;
			padding: 1rem 0;
		}
		.navbar-collapse .navbar-nav:not(.login-reg) .nav-item {
			margin: 0;
			border-radius: .5rem;
			width: 280px;
		}
		.navbar-collapse .navbar-nav:not(.login-reg) .nav-item .nav-link {
			width: 90%;
			height: 3rem;
			padding-left: 2rem;
			display: flex;
			justify-content: left;
			align-items: center;
			border-radius: .5rem;
			transition: 300ms;
			margin-left: .7rem;
		}
		.navbar-collapse .navbar-nav:not(.login-reg) .nav-item .nav-link:hover {
			background-color: var(--bgSecondaryHover);
		}
		.navbar-nav:not(.login-reg) .nav-item > .nav-link::before {
			display: none;
		}
		.navbar-nav.login-reg {
			justify-content: space-between;
			width: 100%;
			margin: 0;
			padding: 1rem;
			position: relative;
		}
		.navbar-nav.login-reg::before {
			content: '';
			position: absolute;
			top: 0;
			left: 1.25rem;
			width: 85%;
			height: 2px;
			background-color: #5d5d79;
		}
		.navbar-nav.login-reg .nav-item {
			margin-right: 0;
		}
		.navbar-btn-toggle {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			position: relative;
			width: 30px;
			height: 30px;
		}
		.navbar-btn-toggle input[type = 'checkbox'] {
			cursor: pointer;
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0;
			z-index: 2;
		}
		.navbar-btn-toggle span {
			background-color: white;
			width: 100%;
			height: 3px;
			border-radius: 1rem;
			transition: 200ms;
			transform-origin: left;
			--animateDelay : 100ms;
		}
		.navbar-btn-toggle span:nth-child(2) {
			transition: 200ms calc(6 * var(--animateDelay));
		}
		.navbar-btn-toggle span:nth-child(3) {
			transition: 200ms calc(5 * var(--animateDelay));
		}
		.navbar-btn-toggle span:nth-child(4) {
			transition: 200ms calc(4 * var(--animateDelay));
		}
		.navbar-btn-toggle span:nth-child(5), .navbar-btn-toggle span:last-child {
			width: 0%;
			position: absolute;
			opacity: 0;
		}.navbar-btn-toggle span:nth-child(5) {
			margin-bottom: .5rem;
			transform: rotate(45deg) translate(-3px, -6px);
			transition: 200ms calc(2 * var(--animateDelay));
		}
		.navbar-btn-toggle span:last-child {
			margin-top: .5rem;
			transform: rotate(-45deg) translate(-3px, 6px);
			transition: 200ms calc(3 * var(--animateDelay));
		}
			/* Toggle Button Animation */
			.navbar-btn-toggle input:checked ~ span:nth-child(2) {
				width: 0;
				transition: 200ms 0ms;
			}
			.navbar-btn-toggle input:checked ~ span:nth-child(3) {
				width: 0;
				transition: 200ms var(--animateDelay);
			}
			.navbar-btn-toggle input:checked ~ span:nth-child(4) {
				width: 0;
				transition: 200ms calc(2 * var(--animateDelay));
			}
			.navbar-btn-toggle input:checked ~ span:nth-child(5) {
				width: 100%;
				opacity: 1;
				transition: 200ms calc(3 * var(--animateDelay));
			} 
			.navbar-btn-toggle input:checked ~ span:last-child {
				width: 100%;
				transition: 200ms calc(4 * var(--animateDelay));
				opacity: 1;
			}
			 /* Dropdown Item */
			.nav-item.costom .navbar-itm-dropdown {
				visibility: hidden;
				position: absolute;
				border-radius: 0;
				margin-left: 1rem;
				border-bottom: var(--bgBorderDrop);
				display: none;
			}
			.nav-item.costom .navbar-itm-dropdown.nid-animate {
				display: flex;
				position: static;
				visibility: visible;
				opacity: 1;
			}
			.nav-item.costom .nav-link:hover ~ .navbar-itm-dropdown.nid-animate,.navbar-itm-dropdown.nid-animate:hover {
				position: static;
				opacity: 1;
				visibility: visible;
				display: flex;
			}
			.navbar-itm-dropdown::before {
				display: none;
			}
			/* Navbar User Valid */
			.user-valid-menu {
				margin-top: 2rem;
			}
	}
	@media screen and ( min-width: 1400px ) {
		.navbar-collapse .navbar-nav .nav-item {
			font-size: 1rem;
		}
		.navbar-nav:not(.login-reg) .nav-item > .nav-link::before {
			height: 3px;
		}
		.login-reg .nav-item .nav-link {
			border: 3px solid #3ecf8e;
		}
	}



/* Page Article Title */
.pageTitle {
		width: 100%;
		height: 60px;
		margin-bottom: 2rem;
		display: flex;
		overflow: hidden;
		padding: 0 2rem;
		position: relative;
}
.p-Title {
		display: flex;
		align-items: center;
		background: url(../icons/dots-bg.svg);
		background-repeat: no-repeat;
		background-size: contain;
		padding: 0 1rem 0 0;
		width: 100%;
		height: 100%;
}
.p-Title h3 {
		font-size: clamp(1.25rem, 2vw, 1.5rem);
}
.p-Title h3::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		margin: 0 1rem;
		bottom: 50%;
		background-color: var(--textMutedLinks);
}



/* Searching */
.searching {
	width: 100%;
    margin: 2.5rem 0 2rem 0;
}
.searching form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.searchInput {
	width: 100%;
	max-width: 768px;
	outline: none;
	border: 2px solid var(--bgSecondary);
	padding: .5rem 1rem;
	border-radius: .5rem 0 0 .5rem;
	font-size: .9rem;
	line-height: 0;
}
.searching form button {
	width: 6.25rem;
	padding: 1.1rem 0;
	line-height: 0;
	outline: none;
	background-color: var(--bgSecondary);
	border: none;
	color: white;
	font-size: .9rem;
	border-radius: 0 .5rem .5rem 0;
	cursor: pointer;
	transition: 300ms;
}
.searching form button:hover {
	background-color: var(--bgSecondaryHover);
}
@media screen and (max-width: 991px) {
	.searching {
		margin: 2rem 0;
	}
}



/* Costom Card - 1 */
.container-costom-card-type1 {
	width: 100%;
	display: flex;
	justify-content: center;
}
.costom-card-type1 {
	width: 100%;
	max-width: 1110px;
	display: flex;
	border-radius: .5rem;
	box-shadow: 0rem 0rem 1rem #00000060;
	margin: 1rem 0;
	position: relative;
	z-index: 1;
}
	/* Thumbnail Card Type 1 */
.costom-card-type1 .thumbnail-card-type1 {
	position: relative;
	flex: 1;
}
.costom-card-type1 .thumbnail-card-type1 .arsip {
	left: 0;
	right: auto;
	border-radius: .5rem 0;
}
.costom-card-type1 .thumbnail-card-type1 img {
	max-width: 100%;
	display: block;
    border-radius: .5rem 0 0 .5rem;
}
	/* Body Card Type 1 */
.body-card-type1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	flex: 1;
	box-sizing: border-box;
	padding: 0 2rem;
}
.ct1-excerpt {
	font-size: .9rem;
}
.ct1-meta-info {
	display: flex;
}
.ct1-header h3 a {
    color: black;
    text-decoration: none;
}
.ct1-meta-info .ct1-mi-itm {
	color: white;
	background-color: var(--bgSecondary);
	text-decoration: none;
	font-size: .9rem;
	display: flex;
	padding: .8rem 1rem;
	border-radius: .5rem;
	transition: 300ms;
}
.ct1-mi-itm.user:hover {
	background-color: var(--bgSecondaryHover);
}
.ct1-mi-itm.user {
	margin-right: 1rem;
}
	/* Responsive Card Type 1 Breakpoints */
@media screen and (max-width: 991px) {
	.costom-card-type1 {
		flex-direction: column;
		width: clamp(28.125rem, 50vw, 18rem);
		margin-top: 0;
	}
	.costom-card-type1 .thumbnail-card-type1 img {
		border-radius: .5rem .5rem 0 0;
	}
	.body-card-type1 {
		padding: 1.8rem;
	}
}



/* Costom card - 1.5 */
.container-halfCard {
	width: 100%;
	margin: 2rem auto;
	background-color: var(--bgPrimary);
	padding: 5rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.container-halfCard .halfCard-header {
	color: white;
	margin-bottom: 3rem;
}
.container-halfCard .group-halfCard {
	max-width: 1200px;
	width: 100%;
	display: flex;
}
.group-halfCard .halfCard {
	margin: 0 2rem 2rem;
	width: clamp(15rem, 50vw, 16rem);
	height: clamp(10rem, 100vh, 10rem);
	border-radius: .8rem;
	padding: 1.3rem;
	transition: 300ms;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	text-decoration: none;
	color: #ededed;
	position: relative;
	box-shadow: 0 0 1rem var(--bgDropdown);
	background-color: var(--bgSecondaryHover);
}
.group-halfCard .halfCard:hover {
	background-color: var(--bgDropdown);
	box-shadow: none;
}
.group-halfCard .halfCard::before, .group-halfCard .halfCard::after {
	position: absolute;
	border-radius: .3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bgSecondary);
	box-shadow: 0 0 1rem var(--bgDropdown);
	font-weight: bold;
}
.group-halfCard .halfCard::before {
	content: attr(data-time);
	width: auto;
	font-size: .75rem;
	left: 2rem;
	padding: .5rem 1rem;
	border-radius: .3rem 1rem 1rem .3rem;
	top: -.7rem;
}
.group-halfCard .halfCard::after {
	width: 2rem;
	height: 2rem;
	content: attr(data-Num);
	top: -.8rem;
	left: -.8rem;
	background-color: var(--bgSecondary);
	box-shadow: 0 0 1rem var(--bgDropdown);
}
@media screen and (max-width: 1024px) {
	.container-halfCard .group-halfCard {
		flex-wrap: wrap;
		max-width: 768px;
		justify-content: space-evenly;
	}
}




/* Costom card - 2 */
.container-grid {
	padding: 1rem;
}
.card-grid-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
		grid-auto-rows: auto;
		justify-items: center;
		place-content: center;
		column-gap: 2rem;
		row-gap: 3rem;
}
.costom-card-type2 {
		width: clamp(18rem, 90vw, 24rem);
		position: relative;
		border-radius: .5rem;
}
.thumbnail-card {
	position: relative;
	max-height: 260px;
	overflow: hidden;
}
.thumbnail-card-type1 .arsip,
.thumbnail-card .arsip {
	position: absolute;
	z-index: 1;
	right: 0;
	padding: .8rem 1rem;
	border-radius: 0 .5rem 0 .5rem;
	font-size: .8rem;
	text-decoration: none;
	color: white;
	background-color: #000000be;
}
.thumbnail-card img {
		max-width: 100%;
		border-radius: 1rem 1rem 0 0;
}
.header-card {
		box-sizing: border-box;
		height: clamp(5rem, 100vh, 5rem);
		padding: .8rem 0;
		display: flex;
		align-items: center;
		overflow: hidden;
}
.header-card h4 a {
		margin: 0;
		color: black;
		text-decoration: none;
}
.footer-card {
	display: flex;
}
.footer-card .fc-itm {
	display: flex;
	flex-direction: column;
	color: white;
	width: 100%;
}
.fc-itm .fc-itm-waktu {
	padding: .8rem 1rem;
	margin-bottom: .3rem;
	font-size: .8rem;
	border-radius: 0 .3rem 0rem 0;
	display: flex;
	align-items: center;
	background-color: var(--bgSecondary);
	width: max-content;
}
.fc-itm .fc-itm-user {
	background-color: var(--bgSecondary);
	padding: .8rem 1.5rem;
	border-radius: 0 .5rem 0rem .5rem;
	min-width: 190px;
	max-width: 200px;
	font-size: .8rem;
	display: flex;
	text-decoration: none;
	color: white;
	justify-content: center;
	transition: 300ms;
}
.fc-itm .fc-itm-user:hover {
	background-color: var(--bgSecondaryHover);
}

	/* Tablet Card Size */
	@media screen and (max-width: 1273px) and (min-width: 636px) {
		.container-grid {
			max-width: 992px;
		}
		div.card-grid-container {
			grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
			gap: 2.5rem 1.5rem;
		}
		div.costom-card-type2 {
			width: clamp(16rem, 50vw, 18rem);
		}
	}
		/* Mobile Card Size */
	@media screen and (max-width: 632px) {
		div.card-grid-container {
			grid-template-columns: repeat(auto-fill, 100%);
			gap: 3rem 0;
		}
		div.pageTitle {
			padding: 0;
		}
		.p-Title {
			padding: 0;
		}
	}



/* Pagination */
.paginate-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: clamp(20rem, 50vw, 26.5625rem);
	height: 2rem;
	margin: 3rem auto;
}
.paginate-container .paginate-itm {
	text-decoration: none;
	color: white;
	background-color: var(--bgSecondary);
	width: 1rem;
	height: 1rem;
	border-radius: .3rem;
	font-size: .9rem;
	transition: 200ms;
	position: relative;
}
.paginate-container .paginate-itm.separator {
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
.paginate-container a.paginate-itm.separator::before {
	display: none;
}
.paginate-itm:not(.paginate-itm.arrow)::before {
	content: attr(data-page);
	position: absolute;
	top: -.8rem;
	left: -.25rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: .3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: inherit;
	background-color: var(--bgSecondaryHover);
	transition: 200ms 100ms;
	transform: scale(0);
}
.paginate-itm:not(.paginate-itm.arrow):hover::before,
.paginate-itm:not(.paginate-itm.arrow).active::before {
	top: -1rem;
	transform: scale(1);
}
.paginate-itm.active {
	background-color: var(--bgSecondaryHover);
}
.paginate-itm:hover {
	background-color: var(--bgSecondaryHover);
}
.paginate-itm.arrow {
	width: 2rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.paginate-itm.arrow.disable {
	pointer-events: none;
	color: var(--textMutedLinks);
} 
.paginate-itm.prev {
	border-radius: 1rem .3rem .3rem 1rem;
}
.paginate-itm.next {
	border-radius: .3rem 1rem 1rem .3rem;
}
.paginate-itm.prev::after {
	transform: translateX(.03rem);
}
.paginate-itm.arrow::after {
	content: attr(data-page);
	margin: auto;
	background-color: var(--bgSecondary);
	position: absolute;
	transition: 100ms;
	transform: scale(0);
}
.paginate-itm.arrow:hover::after {
	transform: scale(1);
	background-color: var(--bgSecondaryHover);
}


.nf-container {
	/* background-color: lime; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}
.group-items {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
}
.nf-img {
	/* background-color: lime; */
}
.nf-img img  {
	display: block;
	line-height: 0;
	width: clamp(18rem, 50vw, 25rem);
	/* margin / padding bawah gambar 70px */
}
.nf-message {
	/* background-color: lime; */
	transform: translateY(-2.5rem);
	box-sizing: border-box;
	padding: 0 1rem;
}
.nf-message span h3 {
	font-size: 3rem;
}
.nf-btn-back {
	background-color: var(--bgSecondary);
	color: white;
	text-decoration: none;
	font-size: .9rem;
	padding: .9rem 1rem;
	border-radius: .5rem;
	transition: 300ms;
}
.nf-btn-back:hover {
	background-color: var(--bgSecondaryHover);
}