<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Istana Presiden | Single Post</title>
</head>
<body>
    <div class="container">
        <div class="singlePost-sidebar">
            <section class="singlePost">
                <div class="mega-header">
                    <div class="judul">
                        <span> Mengingat Sejarah dengan Zulfa Andriani </span>
                    </div>
                    <div class="meta-author-category">
                        <div class="mac-items">
                            <img src="{{ asset('icons/links/folder.png') }}" width="16" height="16" alt="">
                            <span> Istana Yogyakarta </span>
                        </div>
                        <div class="mac-items">
                            <img src="{{ asset('icons/links/penulis.png') }}"  alt="">
                            <span> Radika Pradana S.T. </span>
                        </div>
                        <div class="mac-items">
                            <img src="{{ asset('icons/links/waktu.png') }}"  alt="">
                            <span> 12 April 2022 </span>
                        </div>
                    </div>
                    <div class="img-post">
                        <img class="" src="{{ asset('icons/links/coba.jpg') }}" alt="">
                    </div>
                </div>
        
                <div class="content-post">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi incidunt tempora dolorem. Iusto provident minima optio aliquid expedita, facere, possimus cupiditate earum dolores magni quo eius, blanditiis odio totam alias consequuntur libero dicta vero vitae omnis eveniet dolor porro. Ullam error expedita nostrum a explicabo asperiores quos sunt magni temporibus libero quidem aliquam odio veniam, totam rem! Cumque eum itaque iusto vitae doloribus molestias voluptates. Libero in veniam delectus corporis quaerat ducimus quibusdam, veritatis velit est at nihil mollitia. </p>
                </div>
            </section>
        
            <section class="sidebar">
                <div class="related-posts">
                    <h4>Postingan Lain</h4>
                    <div class="posts">
                        <div class="post">
                            <span>Betina ini memakan daun singkong!</span>
                            <a href="">
                                <img class="" src="{{ asset('icons/links/betina.jpg') }}" alt="">
                            </a>
                        </div>
                        <div class="post">
                            <span>Betina ini memakan daun singkong!</span>
                            <a href="">
                                <img class="" src="{{ asset('icons/links/betina.jpg') }}" alt="">
                            </a>
                        </div>
                        <div class="post">
                            <span>Betina ini memakan daun singkong!</span>
                            <a href="">
                                <img class="" src="{{ asset('icons/links/betina.jpg') }}" alt="">
                            </a>
                        </div>
                        <div class="post">
                            <span>Betina ini memakan daun singkong!</span>
                            <a href="">
                                <img class="" src="{{ asset('icons/links/betina.jpg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
        
                <div class="social-media-icon">
                    <h4>Social Media Kami</h4>
                    <div class="icons-container">
                        <div class="icon">
                            <a href="">
                                <img src="../icons/youtube.png" alt="youtube">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">
                                <img src="../icons/facebook.png" alt="facebook">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">
                                <img src="../icons/instagram.png" alt="instagram">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="">
                                <img src="../icons/twitter.png" alt="twitter">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>